@import '../settings/fonts.scss';

html{
background-color: var(--global-background-color);
}
body{
color: var(--global-text-color);
font-size: 100%;
line-height: 1.5;
// TODO
font-family:'maven pro';
}