.u-muted-100{
    opacity: 1;
}
.u-muted-50{
    opacity: 0.5;
    
}
.u-muted-40{
    opacity: 0.4;
    
}
.u-muted-30{
    opacity: 0.3;
    
}
.u-muted-20{
    opacity: 0.2;
    
}
.u-muted-10{
    opacity: 0.1;

}