.c-color-picker{
    display: flex;
    align-items: center;
}
.c-color-picker__color{
    & + &{
        margin-left: 1rem;
    }
}
.c-color-picker-input{
    &:checked + .c-color-picker-label{
        outline: 2px solid lightblue;
    }
}
.c-color-picker-label{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}